<h1><%=@shop.name%></h1>
<p>Bienvenido a nuestro local de <%=@shop.category%></p>
<%if @shop.background.attached?%>
    <%= image_tag(@shop.background, class:"backgroundLogo")%>
    <%end%>
 <%=render :partial => 'shops/resources/footer' %>