<div class="container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Cant</th>
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col">Observaciones</th>
            </tr>
          </thead>
          <tbody>
            <%@order.items.each do |item|%>
              <tr>
                <th scope="row"><%=item.quantity%></th>
                <td><%=item.product.name.capitalize()%></td>
                <td>$<%=item.product.price%></td>
                <td><%=item.observations%></td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>