<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid ">
    
          <button class="btn-secondary btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#canvasMenu" aria-controls="canvasMenu">
            <span class="navbar-toggler-icon"></span>
            Menú
          </button>
       
    
    <%=link_to shop.name.capitalize(), shop_show_path(shop.nick), class:"mainTitle"%>
  </div>
</nav>