/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
.ready_list-btn{
    transform: scale(0.8);
    
    padding: 1.5px 3px;
}

#error_explanation{
    display: flex;
    background-color: aquamarine;
    border:black 1px solid;
    border-radius: 3px;
    margin: 10px 200px;
}
.btn{
    margin: 10px auto;
}
.offcanvas {
    top: 74px;
    width: 250px;
}
.offcanvas-start {
    top: 74px;
    width: 250px;
}
.content{
    min-height: 87.3vh;
}
footer{
    height: 80px;
    background-color: black;
    padding:10px 20px;
    text-align: right;
    .footer-text{
        color:whitesmoke;
        
    }
}