// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

a:hover{
    color:white;
}
.shop_nameLogo_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    .shop_logo{
        width: 80px;
        padding:5px;
    }
}

.shop_background-container{
    
    width: 100vw;
    left:0;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 1;
    .shop_info-container{
       
        margin: 0px 60px;
        background-color: rgba(245, 245, 245, 0.6);
        border-radius: 20px;
        padding:20px 40px;
        z-index: 2;
        background-size: 100%;
        min-height: 70vh;
        h2{
            text-align: center;
        }
    }
}

.search_shops{
    display:flex;
    justify-content: center;
}
.shops_list{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.card{
    margin: 20px;
    
}
.mainTitle{
    text-decoration: none;
    color:whitesmoke;
    font-size: 1.5em;
    font-weight: bold;
    padding: 2px 20px;
}
.mainTitle:hover {
    color: whitesmoke;
}
.btn-menu{
    margin:10px;
    padding: 5px 10px;
    border-radius: 5px;
    border:solid 1px;
}

ul,li{
    list-style:none;
  
}
.stickynote_header{
    width: 100%;
    top:0;
    padding: 5px;
    background-color: rgb(235, 235, 235);
    right: 0;
    .status_pending{
        color:red;
    }
    .status_preparing{
        color:green;
    }
}
.stickynote_footer{
    text-align: right;
    padding: 10px 20px;
}

.orders_notes{
    overflow:hidden;
    padding:3em;
}
.orders_notes li {
    
    color:#000;
    background:#f6ff7a;
    display:block;
    min-height:15em;
    width:15em;
    margin:1em;
    float:left;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    /* Safari+Chrome */
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    /* Opera */
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
}

.orders_notes li h2{
    font-size: 1.25em;
    text-decoration: none;
}
.orders_notes li div p{
    padding: 5px 10px;
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:100%;

    
}
.orders_notes li div p:hover{
    cursor:pointer;
}
.orders_notes li:nth-child(even) {
    transform:rotate(4deg);
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
}
.orders_notes li:nth-child(3n) {
    transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
}

.orders_notes li:hover,ul li:focus{
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
}

.offcanvas{
    .offcanvas-body{
        display:flex;
        
        flex-direction: column;
        .offcanvas-text{
            text-decoration: none;
            font-size: 1.5em;
            line-height: 2em;
            padding: 40px 5px ;
            color:coral;
        }
    }
}

.manager_view{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .tables_container{
        display: flex;
        flex-direction: column;
        width: 65vw;
        .orders_tables{
            display: flex;
            flex-direction: row;
        }
    }
    .order_ready-text{
        margin:0;
        padding:0;

    }
}

footer{
    z-index: 2;
    height: 80px;
    background-color: black;
    padding:10px 20px;
    text-align: right;
    .footer-text{
        color:whitesmoke;
        
    }
}