<h3>Edita el producto:</h3>
<%=render 'form',model:@product,url:products_update_path,method:'patch', message:"Editar"%>
<%=link_to 'Volver a configuración', shops_configuration_path(@shop.nick),class:'btn btn-secondary' %>