<h3>Ingrese un espacio de su comercio:</h3>

<%= render 'form', model:@place, url:places_create_path,method:'post' %>
<%=link_to 'Volver a configuración', shops_configuration_path(@shop.nick), class:'btn btn-secondary' %>